:root
{
    --Marine-blue: hsl(213, 95%, 34%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);

    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}
.step-1
{
    gap: 60px;
}

.form
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
}

.form > form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}


.step-1 form > input
{
    width: 90%;
    height: 50px;
    border: 1px solid var(--Light-gray);
    border-radius: 5px;
    padding: 13px;
    font-size: 15px;
    font-weight: bolder;
}

.step-1 form > input::placeholder
{
    color: var(--Cool-gray);
}

.step-1 form > input:focus
{
    outline-color: var(--Purplish-blue);
}


.step-1 form > label
{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.next-step{
    animation: slid-left 0.5s ease-in-out;
}

@keyframes slid-left {
    0%{
        transform: translateX(40%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
} 