:root
{
    --Marine-blue: hsl(213, 97%, 36%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);

    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
    --selected: rgb(241, 241, 250);
}




.step-2 > form
{
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

.plan-card
{
    border: 1px solid var(--Light-gray);
    border-radius: 5px;
    width: 22%;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px;
}

.plan-card:hover
{
    border-color: var(--Marine-blue);
    cursor: pointer;
}

.selected
{
    border-width: 1.8px;
    border-color: var(--Marine-blue);   
    background-color: var(--selected);
}

.plan-card img
{
    display: flex;
    width: 40px;
}

.plan-info
{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 10px; */
    gap: 5px;
}

.plan-info > b
{
    font-size: 17px;
}

.plan-info > span
{
    font-size: 14px;
    font-weight: 400;
    color: var(--Cool-gray);
}

.switcher
{
    border: 3px solid red;
    width: 85%;
    margin-top: 20px;
    display: flex;
    height: 60px;
    border: none;
    background-color: var(--Magnolia);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btns .prev-step
{
    position: absolute;
    right: 65%;
    background-color: transparent;
    color: var(--Cool-gray);
    font-size: 16px;
    font-weight: 500;
}


.switch
{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input
{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Marine-blue);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider::before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--White);
    transition: .4s;
}

input:checked + .slider::before
{
    transform: translateX(26px);
    transform: translate(26px);
}

.slider.round
{
    border-radius: 34px;
}

.slider.round::before
{
    border-radius: 50%;
}